/*
* Colors
*/
$color-primary: #004274;
$color-secondary: #1f6ca7;
$color-tertiary: #f5f5f5;
$color-light: #ffffff;
$color-dark: #111827;
$color-border: #d5d5d5;
$color-danger: #fc0000;
$color-shadow: rgba(1, 6, 33, 0.06);
