.blog {
  &__item {
    border-radius: 5px;
    box-shadow: 2px 0px 15px 5px $color-shadow;
    &--image {
      img {
        border-radius: 5px 5px 0 0;
      }
    }
    &__info {
      padding: 20px;
      .title {
        font-size: 25px;
        padding-bottom: 10px;
        &:hover {
          a {
            color: $color-primary;
          }
        }
        a {
          color: $color-dark;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      &--wrapper {
        .image {
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
          }
          &__user {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              margin-bottom: 0;
            }
          }
        }
        .content {
          &__header {
            margin-top: 32px;
            h1 {
              font-size: 1.875rem;
            }
          }
          
          &__share {
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 45px 0;
            p {
              margin-bottom: 0;
            }
            ul {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              gap: 10px;
              li {
                display: flex;
                align-items: center;
                gap: 5px;
                border: 1px solid $color-border;
                border-radius: 5px;
                padding: 3px 8px;
              }
            }
          }
          &__related {
            padding-top: 60px;
            border-top: 1px solid $color-border;
            &:not(:last-child) {
              padding-bottom: 55px;
              border-bottom: 1px solid $color-border;
            }
          }
        }
      }
    }
  }
}
