/*
  * Navbar                                                   
  */
.header .navbar-nav > .nav-item > .nav-link {
  &:not(.active) {
    &:after {
      left: 12%;
      bottom: 0;
      width: 74%;
      height: 4px;
      z-index: -7;
      content: "";
      position: absolute;
      background-color: $color-primary;
      transition: transform 0.4s ease;
      transform-origin: 100% 0;
      transform: scaleX(0);
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 0;
    }
  }
}
.header {
  padding: 5px 0;
  z-index: 3333;
  box-shadow: 0 2px 28px 0 $color-shadow;
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  .logo {
    font-size: 45px;
    font-weight: 700;
    color: $color-primary;
  }
  .nav-link {
    padding: 15px 12px !important;
    text-transform: capitalize;
    display: block;
    position: relative;
    color: $color-dark;
    line-height: 28px;
    font-weight: 500;
    &.active:after {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      content: "";
      position: absolute;
      background-color: $color-primary;
    }
  }

  .navbar-toggler {
    outline: none;
    border: none;
    border-radius: 0;
    padding: 0 10px 0 0;
    box-shadow: none;
    .togler-icon-inner span {
      height: 3px;
      margin: 5px;
      width: 30px;
      display: block;
      background-color: $color-dark;
      transition: all 0.3s ease;
      &:nth-child(2) {
        margin-left: auto;
        width: 20px !important;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  .navbar-toggler[aria-expanded="true"] .togler-icon-inner span {
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  .navbar-brand {
    img {
      max-width: 200px;
      display: none;
      &.logo-transparent {
        display: block;
      }
    }
  }
  .navbar__right {
    .nav-item {
      .nav-link:hover {
        color: $color-primary;
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  .header {
    background-color: $color-light;
  }
  .header {
    .container,
    .header,
    .header ul li {
      padding: 0;
    }
    .container {
      max-width: 100%;
    }
    .navbar-nav {
      .nav-link {
        color: $color-dark;
        padding: 10px 20px !important;
        transition: all 0.25s ease;
        &:after {
          display: none;
        }
      }
      .nav-link:not(.active):hover,
      .header .navbar-nav .nav-link.active {
        background-color: $color-border;
        color: $color-dark !important;
        border-color: $color-primary;
      }
    }
    .nav-item:last-child .nav-link {
      border-bottom: 0;
    }
    .main-menu {
      background-color: $color-light;
      max-height: 350px;
      overflow-y: scroll;
    }
    .navbar-brand {
      padding: 10px 0 10px 15px;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar__right {
    .nav-item {
      &:first-child {
        .nav-link {
          padding: 15px 0 !important;
          text-transform: lowercase;
        }
      }
    }
    .nav-item > .nav-link:not(.active):after {
      height: 0px !important;
    }
  }
  .lang-drop {
    left: -50px;
  }
}

.theme-dark {
  .header {
    @include media-breakpoint-down(lg) {
      background-color: $color-danger;
    }
    ul {
      li {
        a {
          color: $color-light;
          &:hover {
            color: $color-light;
          }
        }
      }
    }
    .navbar-nav {
      @include media-breakpoint-down(lg) {
        .nav-link:not(.active):hover,
        .header .navbar-nav .nav-link.active {
          color: $color-primary !important;
        }
      }
      .nav-link {
        color: $color-light;
      }
      .show > .nav-link,
      .navbar-nav .nav-link.active {
        color: $color-light;
      }
    }
    .navbar-toggler .togler-icon-inner span {
      background-color: $color-light;
    }
    .main-menu.show {
      background-color: $color-danger;
    }
  }
}

.pages-header {
  background-color: $color-light;
}

// PAGES HEADER //
.theme-dark {
  .pages-header {
    background-color: $color-danger;
  }
}
