.hero {
  background-color: $color-tertiary;
  @include media-breakpoint-down(lg) {
    padding-top: 60px;
  }
  .tab-content {
    background-color: $color-light;
  }
  .nav-tabs {
    border: none;
    .nav-link {
      border: none;
      color: $color-dark;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 5px 5px 0 0;
        background-color: transparent;
      }
      &:hover {
        color: $color-primary;
      }
      &.active {
        color: $color-primary;
        &::after {
          background-color: $color-primary;
        }
      }
    }
  }
  &__image {
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 300px 300px 0 0;
    border: 1px solid $color-dark;
    margin-top: 80px;
    position: relative;
    @include media-breakpoint-down(xl) {
      width: 90%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 600px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 300px 300px 0 0;
      display: inline-block;
      padding: 20px 20px 0px 0px;
    }
    .image-two {
      position: absolute;
      top: auto;
      bottom: 70px;
      left: -105px;
      @include media-breakpoint-down(xl) {
        left: -40px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
      img {
        width: 230px;
        height: 250px;
        border-radius: 20px;
        border: 10px solid $color-light;
        padding: 0;
      }
    }
  }
  &__search {
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 16px 40px $color-shadow;
    height: 85px;
    @include media-breakpoint-down(sm) {
      display: inherit;
      padding: 10px;
      height: auto;
    }
    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 15px;
      }
    }
    button {
      background-color: $color-primary;
      border: none;
      height: 100%;
      padding: 15px 25px;
      border-radius: 0 5px 5px 0;
      transition: all 0.5s;
      svg {
        font-size: 30px;
        color: $color-light;
      }
      @include media-breakpoint-down(sm) {
        border-radius: 5px;
        width: 100%;
        padding: 10px 20px;
      }
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}
