.testimonial {
  &__item {
    background-color: $color-light;
    padding: 30px;
    border-radius: 5px;
    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
    .user {
      &__image {
        margin-bottom: 15px;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      &__name {
        font-size: 20px;
      }
      &__description {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
.swiper-wrapper {
    margin-bottom: 60px;
}
}
